---
import Button from "@ui/button/index.astro"

const {data}=Astro.props;
const {img, title, description , status}=data;

---

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src={img} alt={title} />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{description}</p>
        <Button>
            {status ? <p>shop now</p> : <p class="line-through text-red-500">shop now</p>}
        </Button>
    </div>
  </div>